			#outer{
				padding-top:2%;
				padding-left:20%;
				padding-right:20%;
			}
			#header{
				width:100.15%;
				height:100px;
				background:rgb(0,0,90);
			}
			#title{
				font-size:45px;
				font-weight:bold;
				font-family:consolas;
				background:linear-gradient(rgb(128,128,0),gold,rgba(128,128,0));
				border-right:2px solid white;
				border-bottom:2px solid white;
				border-radius:0px 0px 20px 0px;
				padding-left:20px;
				padding-right:20px;
			}
			#design{
				width:80.3%;
				height:21px;
				background-color:white;
				border-radius:100% 0 60% 0;
				margin-left:15.6%;
				margin-top:-3%;
				padding-top:7px;
				padding-left:4%;
			}

			#nav{
				width:100%;
				background:white;
				border:0.5px solid rgba(0,0,0,0.1);
			}
			.menu{
				width:100px;
				height:30px;
				background:white;
				border:0;
				font-family:"Times New Roman";
				font-size:14px;
				font-weight:bold;
			}
			.menu:hover{
				border:0.01px solid rgba(0,0,255,0.3);
				text-shadow:-2px -2px 2px white;
			}
			#search{
				width:24.5%;
				margin-left:50px;
				padding-left:10px;
				border:0.5px solid rgba(0,0,0,0.1);
			}
			
			#opacity{
				display:none;
				width:59.2%;
				height:20px;
				background:linear-gradient(white,rgb(250,250,250),white);
				opacity:0.95;
				position:fixed;
				top:132px;
				left:20.45%;
			}
			#content{
				background:white;
				width:90%;
				margin-top:10px;				
				border:0.5px solid rgba(0,0,0,0.1);
				padding:5%;				
			}
			p{
				text-align:justify;
				text-indent:1cm;
				font-size:16px;
			}
			#IT{
				width:100%;
				height:400px;
			}
			
			#footer{
				background:white;
				width:100%;				
				border:0.5px solid rgba(0,0,0,0.1);
				padding-top:15px;
				padding-bottom:10px;
				margin-top:10px;
				margin-bottom:50px;
			}
			.contact{
				width:50px;
				height:50px;
				border:1px solid rgba(0,0,0,0.1);
			}
			.contact:hover{
				box-shadow:-1px -1px 10px black;
				border-radius:5px;
			}
			#contact{
				margin-left:20px;
			}